.search {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jobs {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}


#button {

    justify-content: center;
    align-items: center;
}
