.search {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.jobs {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}


#button {

    justify-content: center;
    align-items: center;
}

.visually-hidden {
    font-size: xx-large;
    color: white;
    justify-content: center;
    align-items: center;
}

.wrapper {
    max-height: calc(100vh - 56px);
    overflow-y: scroll;
}
