.table {
    position: sticky;
    overflow-y: scroll !important;
}

.wrapper {
    max-height: calc(100vh - 56px);
    overflow-y: scroll;
}

.header {
    padding-top: 30px;
}

.photo {
    padding-top: 30px;
}

h1 {
    padding-bottom: 10px;
}
